<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchplanter"> Launch New Planter</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/planters"> View All Planters</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/upcomingplanters"> Upcoming Planters </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/onlyPlants">Only Plants </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/onlySeeds"> Only Seeds</a>  </td>
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>
